body{
	font-family: Arial;
	text-align: justify;
	margin-top: 49px;
	font-size: 23px;
}
.content{
	margin-top: 49px;
	font-size: 23px;
	width:960px;
	margin:66px auto;
}
h1{
	margin-left: 100px;
	padding-top:20px;
	color: black}


.first{
	Background-color:#4d4a01;
	color: white;
	font-family:Arial;
	width: 1528px;
	height: 145px;
	padding:20px;
	margin:-11px;
	margin-top: -49px
}

ul{
	display:inline;
	margin-left:400px;
	font-size:20px;
	
}
ul li{
	text-decoration: none;
	display: inline;
	color: white;
	padding-left: 100px;
	font-family: Arial;
}
ul li a:hover{
	Color: yellow;
}
.second p {
	text-decoration: italic;
	display: inline;
	font-size: 24px
}
ul li a{
	text-decoration: none;
	display: inline;
	color: white;
}
aside{
	margin-top: -291px;
	font-size: 27px;
	width:725px;
	float: right;
	text-align: left
}
h1{
	margin-left: 100px;
	padding-top:20px;
	color: black}
aside p{
	margin-top: 11px;
	font-family: arial;
	font-size: 24px;
	width:725px;
	float: right;
	text-align: justify;
}
.footer{
	width: 1513px;
	height: 150px;
	background-color:black;
	color: white;
	margin-top: 500px;
	padding: 50px;
	margin-left:-11px;
	margin-bottom: -45px
}
.footer a:hover{color:orange}
a{color: white;}
.desc{
	font-size: 25px;
	font-family: Tahoma
}
.fontlol{
	font-size: 25px;
}
